<div id="Panel-Analisis" class="d-flex flex-row">
<div class="form-group shadow-textarea">
    <label for="exampleFormControlTextarea6" id="lblEntrada">Input</label>
    <textarea  [(ngModel)]="txtEntrada" name="txtEntrada" class="form-control z-depth-1" id="exampleFormControlTextarea6" placeholder="Write something here..."></textarea>
</div>
<div class="form-group shadow-textarea">
    <label for="exampleFormControlTextarea6" id="lblEntrada">Output</label>
    <textarea  class="form-control z-depth-1" id="exampleFormControlTextarea6" placeholder="Write something here..."></textarea>
</div>
</div>
<div id="Boton" class="col text-center">
    <button (click)="Analizar()" >Analizar</button>
</div>
