<div id="Panel-Analisis" class="d-flex flex-row">
    <div id="Boton2">
        <button class="Boton" (click)="limpiar()">Limpiar</button>
    </div>
    <br/>
    
<div class="form-group shadow-textarea">
    <label for="exampleFormControlTextarea6" id="lblEntrada">Input</label>
    <textarea  [(ngModel)]="txtEntrada" name="txtEntrada" class="form-control z-depth-1" id="exampleFormControlTextarea6" placeholder="Write something here..."></textarea>
</div>
<div class="form-group shadow-textarea">
    <label for="exampleFormControlTextarea6" id="lblEntrada">Output</label>
    <textarea  class="form-control z-depth-1" id="exampleFormControlTextarea6"  [(ngModel)]="txtSalida"  value="{{txtSalida}}"placeholder="Write something here..."></textarea>
</div>
</div>
<div id="Boton" class="col text-center">
    
    <select [(ngModel)]="opt" id="country" name="country">
        <option name="opt" value="1">Compilar</option>
        <option name="opt" value="2">Mirilla</option>
        <option name="opt" value="3">Bloque</option>
    </select>
    <button (click)="Analizar()" >Analizar</button>
</div>
